.card-form {
    width: 95%;
    background-color: white;
    margin: auto;
    box-shadow: 0 0 7px 0 rgba(0,0,0,.2);
}

.form-input {
    border-bottom: 1px solid lightgray;
}

.form-control {
    height: 70px;
    border: none;
}

.expand-img {
    height: 50px;
    width: 70px;
}

.checkbox {
    height: 30px;
    width: 70px;
}

.content {
    border-bottom: 1px solid lightgray;
    height: 70px;
}

.footer {
    height: 100px;
}

.btn-footer {
    margin-right: 10px;
}

.btn-noselect {
    height: 40px;
    padding: 10px;
    margin-right: 10px;
}

.btn-select {
    height: 40px;
    padding: 10px;
    margin-right: 10px;

    border-radius: 5px;
    border: 1px solid #afafaf;
}