.content {
    width: 60vw;
    height: 100vh;
}

img {
    width: 40vw;
    height: 50vh;
}

.card {
    width: 30vw;
    height: 50vh;
    border-radius: 15px;
}

input {
    /* border: 1px solid gray; */
    border-radius: 5px;
}